<footer class="site-footer">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-12 col-lg-3">
        <p class="text-center text-lg-left">
          <a href="/">
            <img src="./assets/images/logo.png" height="50" alt="logo">
          </a>
        </p>
      </div>

      <div class="col-12 col-lg-6">

      </div>
      <div class="col-12 col-lg-3">
        <div class="social text-center text-lg-right">
          <a class="social-twitter" href="https://twitter.com/thomascsd">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
