<div class="container">
  <form>
    <div class="row">
      <div class="col-xs-12">
        <mat-slide-toggle (change)="chageDashboard($event)"></mat-slide-toggle>
      </div>
      <div class="col-xs-12">
        <mat-slide-toggle (change)="changeFileUpload($event)"></mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-uppy [useDashboard]="useDashboard" [useFileUpload]="useFileUpload"></app-uppy>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-gallery></app-gallery>
      </div>
    </div>
  </form>
</div>
